-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: iot
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `temps`
--

DROP TABLE IF EXISTS `temps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `valor` decimal(18,2) DEFAULT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temps`
--

LOCK TABLES `temps` WRITE;
/*!40000 ALTER TABLE `temps` DISABLE KEYS */;
INSERT INTO `temps` VALUES (1,35.00,'2024-08-28 17:00:13'),(2,34.50,'2024-08-28 17:05:13'),(3,35.50,'2024-08-28 17:10:13'),(4,33.00,'2024-08-28 17:15:13'),(5,35.00,'2024-08-28 17:20:13'),(6,34.00,'2024-08-28 17:25:13'),(7,32.00,'2024-08-28 17:30:13'),(8,33.00,'2024-08-28 17:35:13'),(9,33.90,'2024-08-28 17:40:13'),(10,34.50,'2024-08-28 17:45:13'),(11,38.00,'2024-08-29 18:09:08'),(12,39.50,'2024-08-29 18:09:25'),(13,45.00,'2024-10-16 12:35:38'),(14,40.00,'2024-10-16 14:34:41'),(15,47.00,'2024-10-17 11:45:45'),(16,44.00,'2024-10-17 18:17:18'),(17,39.00,'2024-10-18 13:06:32');
/*!40000 ALTER TABLE `temps` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*Ultrasonic Table*/
DROP TABLE IF EXISTS `ultrasonic`;
CREATE TABLE `ultrasonic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `distance` decimal(18,2) DEFAULT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;


Lock TABLES `ultrasonic` WRITE;
INSERT INTO `ultrasonic` VALUES (1,120.50,'2024-10-20 19:55:10'),(2,115.75,'2024-10-20 19:56:12'),(3,118.20,'2024-10-20 19:57:14'),(4,119.00,'2024-10-20 19:58:16'),(5,117.85,'2024-10-20 19:59:18');
UNLOCK TABLES;




/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-20 19:59:15
